[submodule "glfw"]
	path = glfw
	url = git@github.com:yaokai-liu/glfw.git
[submodule "meman"]
	path = meman
	url = git@github.com:yaokai-liu/meman.git
	branch = LIU
[submodule "freetype"]
	path = freetype
	url = git@github.com:yaokai-liu/freetype.git
	branch = master
[submodule "xglm"]
	path = xglm
	url = git@github.com:yaokai-liu/xglm.git
